<mat-spinner *ngIf='isLoading'></mat-spinner>
<mat-card  style="margin-top: 20px;" >
    <form (submit)="onSignup(signupForm)" #signupForm='ngForm' *ngIf = '!isLoading'>
        <mat-form-field>
            <input matInput name="email" ngModel type="email" #emailInput="ngModel" required email  placeholder="Enter Email"> 
            <mat-error *ngIf="emailInput.invalid">Please enter a valid Email</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" name="password" ngModel  matInput #passwordInput="ngModel" required placeholder="Enter password">
                <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error> 
        </mat-form-field>  
        <button mat-raised-button color ="accent" type="submit">Signup</button> 
    </form>
</mat-card> 